html {
    overscroll-behavior-y: none;
}

video::-webkit-media-controls{
        display:none !important;
    }

body {
    -webkit-touch-callout: none !important;
    margin: 0;
    overflow: hidden;
}

audio {
    display: none;
}

.play {
    display: none;
    width: 5vw;
    position: fixed;
    top: 8vw;
    left: 88vw;
    z-index: 99999;
}

.stop {
    display: none;
    width: 5vw;
    position: fixed;
    top: 8vw;
    left: 88vw;
     z-index: 99999;
}

.lodingppage {
    background-image: url(../imgs/bg1.jpg);
    position: absolute;
    top: 0;
    left: 0;
}

.stars{
    width: 100vw;
    text-align: center;
    margin-top: 40vw;
    animation: float 1s linear;
    -moz-animation: float 1s linear;
    /* Firefox */
    -webkit-animation: float 1s linear;
    /* Safari 和 Chrome */
    -o-animation: float 1s linear;
    /* Opera */
    -webkit-animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ufo{
    width: 100vw;
    text-align: center;
    margin-top: -10vw;
    animation: rotateY 1s linear;
    -moz-animation: rotateY 1s linear;
    /* Firefox */
    -webkit-animation: rotateY 1s linear;
    /* Safari 和 Chrome */
    -o-animation: rotateY 1s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.wait {
    margin-top: 8vw;
    width: 100vw;
    text-align: center;
}

.wait img {
    width: 45%;
}

.stars img {
    width: 70vw;
}

.ufo img {
    width: 60vw;
}

.points{
   width: 45%;
    margin: 0 auto;
    margin-top: -3.5vw;
}

.point1, .point2, .point3, .point4, .point5, .point6{
    opacity: 0;
    float: right;
    width: 1.5vw;
    height: 1.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-image: url(../imgs/point.png);
}

.point6{
   animation: boxshow 0.5s linear 1s;
    -moz-animation: boxshow 0.5s linear 1s;
    -webkit-animation: boxshow 0.5s linear 1s;
    -o-animation: boxshow 0.5s linear 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;

}

.point5{
   animation: boxshow 0.5s linear 2s;
    -moz-animation: boxshow 0.5s linear 2s;
    -webkit-animation: boxshow 0.5s linear 2s;
    -o-animation: boxshow 0.5s linear 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;

}

.point4{
  animation: boxshow 0.5s linear 3s;
    -moz-animation: boxshow 0.5s linear 3s;
    -webkit-animation: boxshow 0.5s linear 3s;
    -o-animation: boxshow 0.5s linear 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.point3{
   animation: boxshow 0.5s linear 4s;
    -moz-animation: boxshow 0.5s linear 4s;
    -webkit-animation: boxshow 0.5s linear 4s;
    -o-animation: boxshow 0.5s linear 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.point2{
   animation: boxshow 0.5s linear 5s;
    -moz-animation: boxshow 0.5s linear 5s;
    -webkit-animation: boxshow 0.5s linear 5s;
    -o-animation: boxshow 0.5s linear 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.point1{
  animation: boxshow 0.5s linear 6s;
    -moz-animation: boxshow 0.5s linear 6s;
    -webkit-animation: boxshow 0.5s linear 6s;
    -o-animation: boxshow 0.5s linear 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.start {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20vw;
    transform: translate(-10vw, 0);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-image: url(../imgs/start.png);
    text-align: center;
    height: 20vw;
}

.startto {
   margin-top: 15vw;
    width: 35%;
    animation: boxstar 1s;
    -moz-animation: boxstar 1s;
    -webkit-animation: boxstar 1s;
    -o-animation: boxstar 1s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-iteration-count: infinite;
}


.star {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -555;
}

.star canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.senseOne {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

video {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.senseOne,
.senseTwo,
.sensethree,
.mask,
.mask2,
.bg2,
.bigbigpeople,
.joinus,
.lodingppage
 {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
}


.mask {
    display: none;
    background-image: url(../imgs/last.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
}

.arrowbox {
    top: 65vw;
    width: 40vw;
    height: 50vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}



@keyframes float
/* Safari 和 Chrome */

{
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 8vw);
    }
}

@-webkit-keyframes float
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(0, 8vw);
    }
}

@-moz-keyframes float
/* Safari 和 Chrome */

{
    from {
        -moz-transform: translate(0, 0);
    }
    to {
        -moz-transform: translate(0, 8vw);
    }
}

@-o-keyframes float
/* Safari 和 Chrome */

{
    from {
        -o-transform: translate(0, 0);
    }
    to {
        -o-transform: translate(0, 8vw);
    }
}

img {
    pointer-event: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wordbox {
    display: none;
    margin: 0 auto;
    margin-top: 22vw;
    width: 75%;
    height: 110vw;
    background: url(../imgs/wordbox.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: boxshow 2s;
    -moz-animation: boxshow 2s;
    /* Firefox */
    -webkit-animation: boxshow 2s;
    /* Safari 和 Chrome */
    -o-animation: boxshow 2s;
    /* Opera */
}


@keyframes boxshow
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes boxshow
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes boxshow
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes boxshow
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.words {
    margin-top: 12.5vw;
    display: inline-block;
}

.word {
    pointer-events:none;
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vh;
}

.word img {
    height: 4.5vw;
}

.scanbox {
    width: 35%;
    margin: 0 auto;
    background: url(../imgs/scanbox.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vw;
    margin-top: 2vw;
    overflow: hidden;
    display: none;
}

.boxs {
    animation: boxstar 1s;
    -moz-animation: boxstar 1s;
    -webkit-animation: boxstar 1s;
    -o-animation: boxstar 1s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes boxstar
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes boxstar
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes boxstar
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes boxstar
/* Safari 和 Chrome */

{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.zhiwen {
    display: block;
    margin: 0 auto;
    width: 70%;
    /*margin-top: 2vw;*/
    height: 100%;
    overflow: hidden;
    opacity: 0.15;
    background: url(../imgs/zhiwen.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.word1 {
    opacity: 0;
    animation: upto 1s linear 1s;
    -moz-animation: upto 1s linear 1s;
    -webkit-animation: upto 1s linear 1s;
    -o-animation: upto 1s linear 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word2 {
    opacity: 0;
    animation: upto 1s linear 1.5s;
    -moz-animation: upto 1s linear 1.5s;
    -webkit-animation: upto 1s linear 1.5s;
    -o-animation: upto 1s linear 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word3 {
    opacity: 0;
    animation: upto 1s linear 2s;
    -moz-animation: upto 1s linear 2s;
    -webkit-animation: upto 1s linear 2s;
    -o-animation: upto 1s linear 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word4 {
    opacity: 0;
    animation: upto 1s linear 2.5s;
    -moz-animation: upto 1s linear 2.5s;
    -webkit-animation: upto 1s linear 2.5s;
    -o-animation: upto 1s linear 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word5 {
    opacity: 0;
    animation: upto 1s linear 3s;
    -moz-animation: upto 1s linear 3s;
    -webkit-animation: upto 1s linear 3s;
    -o-animation: upto 1s linear 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word6 {
    opacity: 0;
    animation: upto 1s linear 3.5s;
    -moz-animation: upto 1s linear 3.5s;
    -webkit-animation: upto 1s linear 3.5s;
    -o-animation: upto 1s linear 3.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word7 {
    opacity: 0;
    animation: upto 1s linear 4s;
    -moz-animation: upto 1s linear 4s;
    -webkit-animation: upto 1s linear 4s;
    -o-animation: upto 1s linear 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

.word8 {
    opacity: 0;
    animation: upto 1s linear 4.5s;
    -moz-animation: upto 1s linear 4.5s;
    -webkit-animation: upto 1s linear 4.5s;
    -o-animation: upto 1s linear 4.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}


@keyframes upto
/* Safari 和 Chrome */

{
    from {
        transform: translate(0, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, -2vh);
        opacity: 1;
    }
}

@-webkit-keyframes upto
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(0, -2vh);
        opacity: 1;
    }
}

@-moz-keyframes upto
/* Safari 和 Chrome */

{
    from {
        -moz-transform: translate(0, 0);
        opacity: 0;
    }
    to {
        -moz-transform: translate(0, -2vh);
        opacity: 1;
    }
}

@-o-keyframes upto
/* Safari 和 Chrome */

{
    from {
        -o-transform: translate(0, 0);
        opacity: 0;
    }
    to {
        -o-transform: translate(0, -2vh);
        opacity: 1;
    }
}


.hand {
    display: none;
    position: relative;
    z-index: 3;
    width: 25%;
    background-image: url(../imgs/hand.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vw;
    margin-top: -5vw;
    margin-left: 55vw;
    -webkit-user-select: none;
}

.scan {
    display: none;
    border: solid 1px white;
    width: 80%;
    margin: 0 auto;
    margin-top: -2vw;
    animation: scanshow 1s;
    -moz-animation: scanshow 1s;
    /* Firefox */
    -webkit-animation: scanshow 1s;
    /* Safari 和 Chrome */
    -o-animation: scanshow 1s;
    /* Opera */
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes scanshow
/* Safari 和 Chrome */

{
    from {
        transform: translate(0, 0);
        opacity: 0.5;
    }
    to {
        -webkit-transform: translate(0, -20vw);
        opacity: 1;
    }
}

@-webkit-keyframes scanshow
/* Safari 和 Chrome */

{
    from {
        transform: translate(0, 0);
        opacity: 0.5;
    }
    to {
        transform: translate(0, -20vw);
        opacity: 1;
    }
}

@-o-keyframes scanshow
/* Safari 和 Chrome */

{
    from {
        -o-transform: translate(0, 0);
        opacity: 0.5;
    }
    to {
        -o-transform: translate(0, -20vw);
        opacity: 1;
    }
}

@-moz-keyframes scanshow
/* Safari 和 Chrome */

{
    from {
        -moz-transform: translate(0, 0);
        opacity: 0.5;
    }
    to {
        -moz-transform: translate(0, -20vw);
        opacity: 1;
    }
}

.movehand {
    animation: handmove 2s;
    -moz-animation: handmove 2s;
    /* Firefox */
    -webkit-animation: handmove 2s;
    /* Safari 和 Chrome */
    -o-animation: handmove 2s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes handmove
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(-13.5vw, -12vw);
    }
}

@-webkit-keyframes handmove
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(-13.5vw, -12vw);
    }
}

@-webkit-keyframes handmove
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(-13.5vw, -12vw);
    }
}

@-webkit-keyframes handmove
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(-13.5vw, -12vw);
    }
}

.senseTwo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.bg2 {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../imgs/bg2.png);
}

.depart {
    pointer-events:none;
    position: absolute;
    top: 0;
    left: 0;
}

.mask2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../imgs/mask2.png);
    animation: boxshow 2s linear 1s;
    -moz-animation: boxshow 2s linear 1s;
    /* Firefox */
    -webkit-animation: boxshow 2s linear 1s;
    /* Safari 和 Chrome */
    -o-animation: boxshow 2s linear 1s;
    -webkit-animation-fill-mode: forwards;
}


.cricle {
    margin-top: 45vw;
    width: 100vw;
    text-align: center;
    z-index: 888;
    animation: rotate 2s linear;
    -moz-animation: rotate 2s linear;
    /* Firefox */
    -webkit-animation: rotate 2s linear;
    /* Safari 和 Chrome */
    -o-animation: rotate 2s linear;
    /* Opera */
    animation-iteration-count: infinite;
}

@-webkit-keyframes rotate
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.cricle img {
    width: 70%;
}

.depart {
    opacity: 0;
    animation: boxshow 2s linear 3s;
    -moz-animation: boxshow 2s linear 3s;
    /* Firefox */
    -webkit-animation: boxshow 2s linear 3s;
    /* Safari 和 Chrome */
    -o-animation: boxshow 2s linear 3s;
    -webkit-animation-fill-mode: forwards;
}

.chanpin {
    opacity: 0;
    animation: logshow 2s linear 3s;
    -moz-animation: logshow 2s linear 3s;
    /* Firefox */
    -webkit-animation: logshow 2s linear 3s;
    /* Safari 和 Chrome */
    -o-animation: logshow 2s linear 3s;
}

.shijue {
    opacity: 0;
    animation: logshow 2s linear 5s;
    -moz-animation: logshow 2s linear 5s;
    /* Firefox */
    -webkit-animation: logshow 2s linear 5s;
    /* Safari 和 Chrome */
    -o-animation: logshow 2s linear 5s;
}


.web {
    opacity: 0;
    animation: logshow 2s linear 7s;
    -moz-animation: logshow 2s linear 7s;
    /* Firefox */
    -webkit-animation: logshow 2s linear 7s;
    /* Safari 和 Chrome */
    -o-animation: logshow 2s linear 7s;
}




.mobile {
    opacity: 0;
    animation: logshow 2s linear 9s;
    -moz-animation: logshow 2s linear 9s;
    /* Firefox */
    -webkit-animation: logshow 2s linear 9s;
    /* Safari 和 Chrome */
    -o-animation: logshow 2s linear 9s;
}

.sre {
    opacity: 0;
    animation: logshow 2s linear 11s;
    -moz-animation: logshow 2s linear 11s;
    -webkit-animation: logshow 2s linear 11s;
    -o-animation: logshow 2s linear 11s;
}

@keyframes logshow {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes logshow {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes logshow {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes logshow {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.departlog {
    position: absolute;
    width: 100vw;
    z-index: 999;
    top: 68vw;
}

.log {
    width: 100%;
    position: absolute;
    text-align: center;
}

.log img {
    display: inline-block;
    width: 40%;
}


.people {
    left: 50%;
    width: 40%;
    margin-left: -20%;
    margin-top: 63vw;
    text-align: center;
    position: absolute;
}

.bigpeople {
    animation: tobig 1s linear;
    -moz-animation: tobig 1s linear;
    /* Firefox */
    -webkit-animation: tobig 1s linear;
    /* Safari 和 Chrome */
    -o-animation: tobig 1s linear;
    -webkit-animation-fill-mode: forwards;
}

@keyframes tobig
/* Safari 和 Chrome */

{
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(3, 3);
    }
}

@-webkit-keyframes tobig
/* Safari 和 Chrome */

{
    0% {
        -webkit-transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(3, 3);
    }
}

@-moz-keyframes tobig
/* Safari 和 Chrome */

{
    0% {
        -moz-transform: scale(0, 0);
    }
    100% {
        -moz-transform: scale(3, 3);
    }
}

@-o-keyframes tobig
/* Safari 和 Chrome */

{
    0% {
        -o-transform: scale(0, 0);
    }
    100% {
        -o-transform: scale(3, 3);
    }
}

.people img {
    width: 100%;
}

.star1 {
    position: absolute;
    top: 120vw;
    left: 15vw;
    width: 6vw;
    animation: rotateY 4s linear;
    -moz-animation: rotateY 4s linear;
    /* Firefox */
    -webkit-animation: rotateY 4s linear;
    /* Safari 和 Chrome */
    -o-animation: rotateY 4s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@keyframes rotateY {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 4vw);
    }
}

@-webkit-keyframes rotateY {
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(0, 4vw);
    }
}

@-moz-keyframes rotateY
/* Safari 和 Chrome */

{
    from {
        -moz-transform: translate(0, 0);
    }
    to {
        -moz-transform: translate(0, 4vw);
    }
}

@-o-keyframes rotateY
/* Safari 和 Chrome */

{
    from {
        -o-transform: translate(0, 0);
    }
    to {
        -o-transform: translate(0, 4vw);
    }
}

.star2 {
    position: absolute;
    top: 30vw;
    left: 68vw;
    width: 6vw;
    animation: starmove 4s linear;
    -moz-animation: starmove 4s linear;
    /* Firefox */
    -webkit-animation: starmove 4s linear;
    /* Safari 和 Chrome */
    -o-animation: starmove 4s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@keyframes starmove
/* Safari 和 Chrome */

{
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(5vw, 5vw);
    }
}

@-webkit-keyframes starmove
/* Safari 和 Chrome */

{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(5vw, 5vw);
    }
}

@-moz-keyframes starmove
/* Safari 和 Chrome */

{
    from {
        -moz-transform: translate(0, 0);
    }
    to {
        -moz-transform: translate(5vw, 5vw);
    }
}

@-o-keyframes starmove
/* Safari 和 Chrome */

{
    from {
        -o-transform: translate(0, 0);
    }
    to {
        -o-transform: translate(5vw, 5vw);
    }
}

.star1 img {
    width: 100%;
}

.star2 img {
    width: 100%;
}

.star3 img {
    width: 100%;
}

.star4 img {
    width: 100%;
}

.star5 img {
    width: 100%;
}

.sensethree {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../imgs/bg3.jpg);

}

.black {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.star3 {
    position: absolute;
    top: 40vw;
    left: 6vw;
    width: 6vw;
    animation: starmove 4s linear;
    -moz-animation: starmove 4s linear;
    /* Firefox */
    -webkit-animation: starmove 4s linear;
    /* Safari 和 Chrome */
    -o-animation: starmove 4s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.star5 {
    position: absolute;
    top: 10vw;
    left: 35vw;
    width: 6vw;
    animation: rotateY 4s linear;
    -moz-animation: rotateY 4s linear;
    /* Firefox */
    -webkit-animation: rotateY 4s linear;
    /* Safari 和 Chrome */
    -o-animation: rotateY 4s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.star4 {
    position: absolute;
    top: 80vw;
    left: 90vw;
    width: 6vw;
    animation: rotateY 4s linear;
    -moz-animation: rotateY 4s linear;
    /* Firefox */
    -webkit-animation: rotateY 4s linear;
    /* Safari 和 Chrome */
    -o-animation: rotateY 4s linear;
    /* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.departbox {
    z-index: 666;
    position: absolute;
}

.more {
    top: 90vh;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.findmore , .joinus {
    display: inline-block;
    width: 28vw;
}

.joinus {
    float: left;
    margin-left: 5vw;
}

.findmore {
    float: right;
    margin-right: 5vw;
}

.findmore img {
    width: 100%;
}

.joinus img {
    width: 100%;
}

.xiaochengxu {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url(../imgs/xiaochengxu.jpg) center center;
    background-size: contain;
}